
.inner{
    background-color: #8839FF;
    height: 70x;
    padding: 10px;
    color:whitesmoke;
    font-size: 20px;
   
}

.Home{
    padding: 10px;
    color: whitesmoke;

}
.Home:hover{
    color:#ACD3DE
}
.view{
    padding: 10px;
    color: whitesmoke;
}
.view:hover{
    color: #ACD3DE;
}
.login{
    padding-left: 750px;
    padding-right: 10px ;
    color: whitesmoke;
}
.login:hover{
    color:#ACD3DE
}
.signup{
    padding: 10px;
    color: whitesmoke;
}
.signup:hover{
    color:#ACD3DE
}
.logout{
    padding: 10px;
    color: whitesmoke;
}
.logout:hover{
    color:#ACD3DE
}
